.flexGal {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.twoPicturess{
    margin-top: 30px;
    padding: 30px;
}

.twoPicturess img {
    width: 240px;
    border: 10px solid darkolivegreen;;
    height: 230px;
    margin: 10px;
}

.onePicture{
   background-image: url(../images/IMG-20230816-WA0005.jpg);
   height: 600px;
   width: 250px;
   margin-top: 30px;
   background-position: center;
   background-repeat: no-repeat;
   border: 10px solid darkolivegreen;
}

@media screen and (max-width: 1200px){

.onePicture {
    display: none;
}
    }

    @media screen and (max-width: 890px){

      .flexGal {
        display: block;
      }

    


            }
    